services:
  postgres:
    container_name: postgres-sql-bsn
    image: postgres:15
    environment:
      POSTGRES_USER: username
      POSTGRES_PASSWORD: password
      POSTGRES_DB: book_social_network
    volumes:
      - postgres:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - spring-demo
    restart: unless-stopped

  maildev:
    image: maildev/maildev
    container_name: mail-dev-bsn
    ports:
      - "1080:1080"   # Web UI
      - "1025:1025"   # SMTP server for your app
    restart: unless-stopped

networks:
  spring-demo:
    driver: bridge

volumes:
  postgres:
    driver: local
